:root {
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;
}

.bg_logo {
  width: 600px;
  height: 648px;
}

.start_screen {
  position: absolute;
  align-self: center;
}

.tauri_line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tauri_logo {
  width: 50px;
  height: 50px; 
}

.game_line {
  text-align: center;
}

.game_logo {
  margin: auto;
  display: list-item;
  width: 250px;
  height: 250px;
  padding: 50px;
}

.dice_container {
  display: none;
  border: 2px solid black;
  margin: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 595px;
}

.dice_container > * {
  padding: 5px;
  margin: auto 5px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: black;
  margin: -5px;
  position: absolute;
}

/* Apply to all sides  */
.dice > * {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;

}

.dice {
  transform-style: preserve-3d;
  transition: transform 2s;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.col {
  width: 20%;
}

.side:nth-child(3) {
  transform: translateZ(1.4em);
}

.side:nth-child(4) {
  transform: rotateY(-180deg) translateZ(1.4em);
}

.side:nth-child(2) {
  transform: rotateY(90deg) translateZ(1.4em);
}

.side:nth-child(5) {
  transform: rotateY(-90deg) translateZ(1.4em);
}

.side:nth-child(6) {
  transform: rotateX(90deg) translateZ(1.4em);
}

.side:nth-child(1) {
  transform: rotateX(-90deg) translateZ(1.4em);
}

.display_3 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.display_4 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}

.display_2 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.display_5 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.display_6 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.display_1 {
  transform: rotateX(450deg) rotateZ(-720deg);
}


/* 1 */
#side3_dot1, #side4_dot1, #side5_dot1, #side6_dot1 {
  left: 20%;
  top: 20%;
}

/* 2 */

/* 3 */
#side4_dot2, #side5_dot2, #side6_dot2 {
  left: 80%;
  top: 20%
}

/* 4 */
#side2_dot1, #side6_dot3 {
  left: 20%;
  top: 50%;
}

/* 5 */
#side1_dot1, #side3_dot2, #side5_dot3 {
  left: 50%;
  top: 50%;
}

/* 6 */
#side2_dot2, #side6_dot4 {
  left: 80%;
  top: 50%;
}

/* 7 */
#side4_dot3, #side5_dot4, #side6_dot5 {
  left: 20%;
  top: 80%;
}

/* 8 */

/* 9 */
#side3_dot3, #side4_dot4, #side5_dot5, #side6_dot6 {
  left: 80%;
  top: 80%;
}

#left, #right {
  display: flex;
  flex-direction: column;
  color: white;
}

#left_arrow, #right_arrow {
  font-size: 50px;
}

#left_msg, #right_msg{
  font-size: 15px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 20px;
}

#comp_button {
  background-color: rgb(21, 132, 102);
}

#roll_button:hover {background-color: lightgray}

#roll_button {
  background-color: rgb(52, 101, 164);
}

.btn {
  border-radius: 8px;
  background-color: gray;
  font-weight: bold;
  color: white;
}

.btn:hover {background-color: lightgray}

.btn:active {
  background-color: lightgray;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
